<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Theatre</title>

    <style>
        .field-error {
            color: red;
            font-weight: bold;
            margin-top: 4px;
            font-size: 0.9rem;
        }
    </style>
</head>
<body>

<h1>Edit Theatre</h1>

<form th:action="@{'/theatres/' + ${theatre.id}}" th:object="${theatre}" method="post">

    <div>
        <label>ID:</label><br>
        <input th:field="*{id}" readonly>
    </div>

    <div>
        <label>Name:</label><br>
        <input th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"
             class="field-error"></div>
    </div>

    <div>
        <label>City:</label><br>
        <input th:field="*{city}">
        <div th:if="${#fields.hasErrors('city')}"
             th:errors="*{city}"
             class="field-error"></div>
    </div>

    <p>
        <button type="submit">Save changes</button>
        <a th:href="@{/theatres}">Cancel</a>
    </p>

</form>

</body>
</html>
