<!--/* @thymesVar id="customer" type="com.example.proiectul.Cinema.model.Customer" */-->

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Customer</title>
</head>
<body>
<h1>New Customer</h1>

<form th:action="@{/customers}" th:object="${customer}" method="post">
    <div>
        <label>ID</label>
        <input th:field="*{id}" placeholder="e.g. C1" required />
    </div>

    <div>
        <label>Name</label>
        <input th:field="*{name}" placeholder="e.g. Alice Doe" required />
    </div>

    <div>
        <label>Email</label>
        <input th:field="*{email}" type="email" placeholder="e.g. alice@example.com" required />
    </div>

    <button type="submit">Save</button>
</form>

<p><a th:href="@{/customers}">Back to list</a></p>
</body>
</html>
