<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Hall</title>
</head>
<body>
<h1>Add New Hall</h1>

<form th:action="@{/halls}" th:object="${hall}" method="post">
    <div>
        <label>ID</label><br>
        <input th:field="*{id}" placeholder="H1" required>
    </div>
    <div>
        <label>Name</label><br>
        <input th:field="*{name}" placeholder="Sala Mare" required>
    </div>
    <div>
        <label>Theatre ID</label><br>
        <input th:field="*{theatreId}" placeholder="T1" required>
    </div>
    <div>
        <label>Capacity</label><br>
        <input th:field="*{capacity}" type="number" min="1" placeholder="200" required>
    </div>

    <p>
        <button type="submit">Save</button>
        <a th:href="@{/halls}">Cancel</a>
    </p>
</form>
</body>
</html>
