<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Movie</title>
</head>
<body>
<h1>Edit Movie</h1>

<form th:action="@{'/movies/' + ${movie.id}}" th:object="${movie}" method="post">
    <div>
        <label>ID:</label><br>
        <input th:field="*{id}" readonly>
    </div>
    <div>
        <label>Title:</label><br>
        <input th:field="*{title}" required>
    </div>
    <div>
        <label>Duration (minutes):</label><br>
        <input th:field="*{durationMinutes}" type="number" min="1" required>
    </div>
    <div>
        <label>Release date:</label><br>
        <input th:field="*{release_date}" type="date" required>
    </div>

    <p>
        <button type="submit">Save Changes</button>
        <a th:href="@{/movies}">Cancel</a>
    </p>
</form>
</body>
</html>
