<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Movie</title>
</head>
<body>
<h1>New Movie</h1>

<form th:action="@{/movies}" th:object="${movie}" method="post">
    <div>
        <label>ID</label>
        <input th:field="*{id}" placeholder="e.g. M1" required/>
    </div>
    <div>
        <label>Title</label>
        <input th:field="*{title}" placeholder="e.g. Interstellar" required/>
    </div>
    <div>
        <label>Duration</label>
        <input th:field="*{durationMinutes}" type = "number" placeholder="e.g. 120" required/>
    </div>
    <button type="submit">Save</button>
</form>

<p><a th:href="@{/movies}">Back to list</a></p>
</body>
</html>