<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinema App</title>
</head>
<body>
<h1>Cinema Management</h1>
<ul>
    <li><a th:href="@{/movies}">Movies</a></li>
    <li><a th:href="@{/customers}">Customers</a></li>
    <li><a th:href="@{/theatres}">Theatres</a></li>
    <li><a th:href="@{/halls}">Halls</a></li>
    <li><a th:href="@{/seats}">Seats</a></li>
    <li><a th:href="@{/screenings}">Screenings</a></li>
    <li><a th:href="@{/tickets}">Tickets</a></li>
    <li><a th:href="@{/technicaloperators}">Technical Operators</a></li>
    <li><a th:href="@{/supportstaff}">Support Staff</a></li>
    <li><a th:href="@{/assignments}">Staff Assignments</a></li>
</ul>
</body>
</html>
