<!doctype html><html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8"><title>Assignment Details</title></head><body>
<h1>Assignment Details</h1>
<p><b>ID:</b> <span th:text="${assignment.id}">A1</span></p>
<p><b>Screening ID:</b> <span th:text="${assignment.screeningId}">SC1</span></p>
<p><b>Staff ID:</b> <span th:text="${assignment.staffId}">TO1</span></p>
<p><a th:href="@{'/assignments/' + ${assignment.id} + '/edit'}">Edit</a> | <a th:href="@{/assignments}">Back</a></p>
</body></html>