<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit Assignment</title>
</head>
<body>

<h1>Edit Assignment</h1>

<form th:action="@{'/assignments/' + ${assignment.id}}"
      th:object="${assignment}"
      method="post"
      novalidate>

    <div th:if="${#fields.hasErrors()}" style="color:red; font-weight:bold; margin-bottom:10px;">
        <p>Please correct the following errors:</p>
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
        </ul>
    </div>

    <div>
        <label>ID</label><br>
        <input th:field="*{id}" readonly>
    </div>

    <div>
        <label>Screening ID</label><br>
        <input th:field="*{screeningId}" required>
        <div th:if="${#fields.hasErrors('screeningId')}"
             th:errors="*{screeningId}"
             style="color:red;font-weight:bold;"></div>
    </div>

    <div>
        <label>Staff ID</label><br>
        <input th:field="*{staffId}" required>
        <div th:if="${#fields.hasErrors('staffId')}"
             th:errors="*{staffId}"
             style="color:red;font-weight:bold;"></div>
    </div>

    <div th:if="${#fields.hasGlobalErrors()}" style="color:red; font-weight:bold;">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <p>
        <button type="submit">Save Changes</button>
        <a th:href="@{/assignments}">Cancel</a>
    </p>

</form>

</body>
</html>
