<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>New Assignment</title>
</head>
<body>

<h1>New Assignment</h1>

<form th:action="@{/assignments}"
      th:object="${assignment}"
      method="post">

    <div>
        <label>ID</label><br>
        <input th:field="*{id}" placeholder="A1" required>
    </div>

    <div>
        <label>Screening ID</label><br>
        <input th:field="*{screeningId}" placeholder="SCR1">
        <div th:if="${#fields.hasErrors('screeningId')}"
             th:errors="*{screeningId}"
             style="color:red"></div>
    </div>

    <div>
        <label>Staff ID</label><br>
        <input th:field="*{staffId}" placeholder="TO1 / SST1">
        <div th:if="${#fields.hasErrors('staffId')}"
             th:errors="*{staffId}"
             style="color:red"></div>
    </div>

    <div th:if="${#fields.hasGlobalErrors()}" style="color:red">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <p>
        <button type="submit">Save</button>
        <a th:href="@{/assignments}">Cancel</a>
    </p>

</form>

</body>
</html>
